
.containerabout {
  max-width: 100%;
  height: auto;
  padding: 10%;
  content: ''; 
  margin-top: -27%;
  height: 130vh;
  display: flex;
  background: linear-gradient(#f38383, #decccc);
}

.subBoxText {
  margin-top: 25%;
  text-align: right;
  width: 100%; 
  margin-left: 34%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  border-top: 1px dashed;
  border-radius: 1%;
  font-weight: 500;
  padding: 6%;
  z-index: 1;
}


 .pic {
  position: absolute;
  margin-top: 15%;
  transform: translate(-10%, 0%);
  width: 35vw;
  border-radius: 50%;
  height: auto;
  z-index: 1;
 }



 