.container {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

 .middleHalf {
  
  padding: 10%;
  content: '';
  display: flex;
  clear: both;
 }

.subBoxText {
  margin-top: 5%;
  text-align: left;
  width: 80%; 
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  border-top: 1px dashed;
  border-radius: 1%;
  font-weight: 500;
  float: right;
}

 .subBoxImg {
  max-width: 100%;
  height: auto;
 }

 .pic {
  position: absolute;
  margin-top: -10%;
  transform: translate(-20%, 0%);
  width: 20vw;
  border-radius: 200px;
  height: auto;
 
 }

 .subBoxTotal{
    opacity: 1;
    
 }


 