/* ====== GOOGLE FONTS ====== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

html {
    /* height: 100%; */
}

body {
    /* min-height: 100%;
    max-width: 400px; */
    z-index: 0;
}

@media (max-width: 600px) {
    body{
        margin-top: 10%;
    }
}
